In [2127]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

renamed_df = school_data_df.rename(columns={'type':'school_type'})

renamed_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   school_type    39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [2128]:
#average total math score
renamed_df['math_score'] = pd.to_numeric(renamed_df['math_score'])

avg_math = renamed_df['math_score'].mean()

In [2129]:
#average reading score
renamed_df['reading_score'] = pd.to_numeric(school_data_df['reading_score'])
avg_reading = renamed_df['reading_score'].mean()

In [2130]:
#total budget
total_budget = renamed_df['budget'].sum()

In [2131]:
#total schools
total_schools = len(renamed_df["school_name"].unique())

total_schools

15

In [2132]:
#total students

total_students = len(renamed_df["student_name"])

total_students

39170

In [2133]:
renamed_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   school_type    39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [2134]:
#find # of students passing math
math_passing = (renamed_df['math_score'] >= 70)

passing = math_passing.sum()

passing

#find % of total students passing math. 
passed_math = passing /(total_students)

passing_percent = passed_math*100

passing_percent

74.9808526933878

In [2135]:
#find sum of students passing reading
read_passing = (renamed_df['reading_score'] >= 70)

read_passing.sum()

sum_passing = read_passing.sum()

sum_passing

#% of students passing reading.
passed_reading = sum_passing /(total_students)

passing_percent_reading = passed_reading*100

passing_percent_reading

85.80546336482001

In [2136]:
#students that have passed both math & reading
passed_both = renamed_df.loc[(renamed_df.math_score >= 70) & (renamed_df.reading_score >= 70), :]

#% of students passing both
overall_passing = (len(all_passing)/total_students)*100

In [2137]:
overall_passing

65.17232575950983

In [2138]:
#create summary table for all schools
total_summary_df = pd.DataFrame({'Total Students' : [total_students],
                            'Total Schools' : [total_schools],
                            'Total Budget' : [total_budget],
                            'Average Reading Score' : [avg_reading],
                            'Average Math Score' : [avg_math],
                            '% Passing Math' : [passing_percent],
                            '% Passing Reading' : [passing_percent_reading],
                            '% Overall Passing' : [overall_passing]})

In [2139]:
total_summary_df

,Total Students,Total Schools,Total Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing
0,39170,15,82932329558,81.87784,78.985371,74.980853,85.805463,65.172326

In [2140]:
#create new column for passed both math and reading - boolean
renamed_df.loc[:,'passed_both'] = ((renamed_df["math_score"] >= 70) & (renamed_df['reading_score'] >= 70))

#rename column              
renamed_df = renamed_df.rename(columns = {'school_name' : 'School Name'})        

renamed_df

#filter/create column for only passing math scores
renamed_df.loc[:, 'math2'] = renamed_df['math_score'] >= 70
#filter/create column for only passing reading scores
renamed_df.loc[:, 'reading2'] = renamed_df['reading_score'] >= 70

renamed_df

,Student ID,student_name,gender,grade,School Name,reading_score,math_score,School ID,school_type,size,budget,passed_both,math2,reading2
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,False,True,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,False,True
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,False,True
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True,True

In [2141]:
# creating summary DF per school - use Aggregate for column values we can use.
df = renamed_df.groupby('School Name').agg({
    'Student ID' : lambda x : x.nunique(), #count each unique ID
    'budget' : 'first', # just use the first value because they will all be the same
    'school_type' : 'first', ## just use the first value because they will all be the same
    'math_score' : 'mean', #find avg of maths
    'reading_score' : 'mean',  #find avg for reading
    'passed_both' : 'sum' ,     # total of column created before that is students who have passed both
    'math2' : 'sum', #total of math passed from column created before.
    'reading2' : 'sum' #total of reading passed from column created before.
    })



# creat the Per student budget 
df.loc[:, 'Per Student Budget'] = df.loc[:, 'budget'] / df.loc[:, 'Student ID']

#create the % passing math 
df.loc[:, '% Passing Math'] = (df['math2'] / df.loc[:,'Student ID']) * 100

#create the % passing reading
df.loc[:, '% Passing Reading'] = (df['reading2'] / df.loc[:, 'Student ID']) *100

#create overall passing %
df.loc[:, 'Overall Passing %'] = (df['passed_both'] / df.loc[:, 'Student ID']) *100
                                    
#rename columns to be more clear for our purposes now
summary_df = df.rename(columns = {'Student ID' : 'Total Students', 'budget' : 'Total Budget', 'math_score' : 'Avg Math Score', 'reading_score' : 'Avg Reading Score', 'school_type' : 'School Type'})

#pull out columns need for summary 
summary_by_school = summary_df[['School Type', 'Total Students', 'Per Student Budget', 'Avg Math Score', 'Avg Reading Score', '% Passing Math', '% Passing Reading', 'Overall Passing %']]

summary_by_school

,School Type,Total Students,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Passing %
School Name,,,,,,,,
Bailey High School,District,4976,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [2142]:
#top 5 schools based on overall passing
summary_by_school = summary_by_school.sort_values ('Overall Passing %', ascending = False)
summary_by_school.head(5)

,School Type,Total Students,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Passing %
School Name,,,,,,,,
Cabrera High School,Charter,1858,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [2143]:
#bottom 5 schools based on overall passing
summary_by_school = summary_by_school.sort_values ('Overall Passing %')
summary_by_school.head(5)

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/displayhook.py:276: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  'Flushing oldest {cull_count} entries.'.format(sz=sz, cull_count=cull_count))

,School Type,Total Students,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Passing %
School Name,,,,,,,,
Rodriguez High School,District,3999,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [2144]:
# scores by type of school - group by and aggregate 
scores_by_type = summary_by_school.groupby('School Type').agg({
    'Avg Math Score' : 'mean',
    'Avg Reading Score' : 'mean',
    'Overall Passing %' : 'mean',
    '% Passing Math' : 'mean',
    '% Passing Reading' : 'mean'
})

In [2145]:
scores_by_type.head()

,Avg Math Score,Avg Reading Score,Overall Passing %,% Passing Math,% Passing Reading
School Type,,,,,
Charter,83.473852,83.896421,90.432244,93.620830,96.586489
District,76.956733,80.966636,53.672208,66.548453,80.799062

In [2146]:
#boolean to filter DF by grades

math_grade_9 = renamed_df['grade'] == '9th'
math_grade_10 = renamed_df['grade'] == '10th'
math_grade_11 = renamed_df['grade'] == '11th'
math_grade_12 = renamed_df['grade'] == '12th'

In [2156]:
#group by school and filter to only 9th grade
math_grade_9 = nineth_grade.groupby('School Name').agg({ 
    'math_score': 'mean'})

math_grade_9 = math_grade_9.rename(columns = {'math_score' : '9th Grade'})



#group by school and filter to only 10th grade
tenth_grade = renamed_df[grade_10]

math_grade_10 = tenth_grade.groupby('School Name').agg({ 
    'math_score': 'mean' })

math_grade_10 = math_grade_10.rename(columns = {'math_score' : '10th Grade'})



#group by school and filter to only 11th grade
eleventh_grade = renamed_df[grade_11]

math_grade_11 = eleventh_grade.groupby('School Name').agg({ 
    'math_score': 'mean' })

math_grade_11 = math_grade_11.rename(columns = {'math_score' : '11th Grade'})


#group by school and filter to only 12th grade
twelfth_grade = renamed_df[grade_12]

math_grade_12 = twelfth_grade.groupby('School Name').agg({ 
    'math_score': 'mean' })

math_grade_12 = math_grade_12.rename(columns = {'math_score' : '12th Grade'})



#concatinate grades 9-12 into one dataframe grouped by school.
pd.concat((math_grade_9, math_grade_10, math_grade_11, math_grade_12), axis = 1)

                       9th Grade  10th Grade  11th Grade  12th Grade
School Name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

math_bygrade

In [2152]:
#boolean to filter DF by grades - repeat steps from math score for reading scores

reading_grade_9 = renamed_df['grade'] == '9th'
reading_grade_10 = renamed_df['grade'] == '10th'
reading_grade_11 = renamed_df['grade'] == '11th'
reading_grade_12 = renamed_df['grade'] == '12th'

reading_grade_9 = nineth_grade.groupby('School Name').agg({ 
    'reading_score': 'mean'})

reading_grade_9 = reading_grade_9.rename(columns = {'reading_score' : '9th Grade'})

reading_grade_10 = tenth_grade.groupby('School Name').agg({ 
    'reading_score': 'mean'})

reading_grade_10 = reading_grade_10.rename(columns = {'reading_score' : '10th Grade'})

reading_grade_11 = eleventh_grade.groupby('School Name').agg({ 
    'reading_score': 'mean'})

reading_grade_11 = reading_grade_11.rename(columns = {'reading_score' : '11th Grade'})

reading_grade_12 = twelfth_grade.groupby('School Name').agg({ 
    'reading_score': 'mean'})

reading_grade_12 = reading_grade_12.rename(columns = {'reading_score' : '12th Grade'})


pd.concat((reading_grade_9, reading_grade_10, reading_grade_11, reading_grade_12), axis = 1)

                       9th Grade  10th Grade  11th Grade  12th Grade
School Name
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

In [2153]:
#bin schools based on spending per student.

bins = [0, 584, 629, 644, 675]

group_names = ['<$584', '$585-629', '$630-644', '$645-675' ]

summary_by_school['Spending Ranges (Per Student)'] = pd.cut(df['Per Student Budget'], bins, labels = group_names, include_lowest = True)

#group by spending ranges 
group_names = summary_by_school.groupby('Spending Ranges (Per Student)').agg({
    'Avg Math Score' : 'mean',
    'Avg Reading Score' : 'mean',
    'Overall Passing %' : 'mean',
    '% Passing Math' : 'mean',
    '% Passing Reading' : 'mean'
})

group_names

,Avg Math Score,Avg Reading Score,Overall Passing %,% Passing Math,% Passing Reading
Spending Ranges (Per Student),,,,,
<$584,83.455399,83.933814,90.369459,93.460096,96.610877
$585-629,81.899826,83.155286,81.418596,87.133538,92.718205
$630-644,78.518855,81.624473,62.857656,73.484209,84.391793
$645-675,76.997210,81.027843,53.526855,66.164813,81.133951

In [2154]:
#bin schools based on student populatio 
bins = [0, 1000, 2000, 5000]

student_size = ['Small(<1000)', 'Medium(1000-2000)', 'Large(2000-5000)' ]

summary_by_school['School Size'] = pd.cut(summary_by_school['Total Students'], bins, labels = student_size, include_lowest = True)
#group by size of student body
student_size = summary_by_school.groupby('School Size').agg({
    'Avg Math Score' : 'mean',
    'Avg Reading Score' : 'mean',
    'Overall Passing %' : 'mean',
    '% Passing Math' : 'mean',
    '% Passing Reading' : 'mean'
})

student_size

,Avg Math Score,Avg Reading Score,Overall Passing %,% Passing Math,% Passing Reading
School Size,,,,,
Small(<1000),83.821598,83.929843,89.883853,93.550225,96.099437
Medium(1000-2000),83.374684,83.864438,90.621535,93.599695,96.790680
Large(2000-5000),77.746417,81.344493,58.286003,69.963361,82.766634

In [2155]:
# FINDINGS IN OUR ANALYSIS
# 1. Larger schools have lower scores in math and reading, and a lower average of students passing both.
# 2. Schools that spend more per-student have lower math and reading scores. May be that increased spending is a result of low scores.
# 3. Charter schools have higher averages for math and reading scores, and more students passing both.