In [1147]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

renamed_df = school_data_df.rename(columns={'type':'school_type'})

renamed_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   school_type    39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [1148]:
renamed_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,school_type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [1149]:
#average total math score
renamed_df['math_score'] = pd.to_numeric(renamed_df['math_score'])

avg_math = renamed_df['math_score'].mean()

In [1150]:
#average reading score
renamed_df['reading_score'] = pd.to_numeric(school_data_df['reading_score'])
avg_reading = renamed_df['reading_score'].mean()

In [1151]:
#total budget
total_budget = renamed_df['budget'].sum()

In [1152]:
#total schools
total_schools = len(renamed_df["school_name"].unique())

total_schools

15

In [1153]:
#total students

total_students = len(renamed_df["student_name"])

total_students

39170

In [1154]:
renamed_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   school_type    39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [1155]:
total_summary_df = pd.DataFrame({'Total Students' : [total_students],
                            'Total Schools' : [total_schools],
                            'Total Budget' : [total_budget],
                            'Average Reading Score' : [avg_reading],
                            'Average Math Score' : [avg_math],
                            '% Passing Math' : [passing_percent],
                            '% Passing Reading' : [passing_percent_reading],
                            '% Overall Passing' : [overall_passing]})

total_summary_df

,Total Students,Total Schools,Total Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing
0,39170,15,82932329558,81.87784,78.985371,74.980853,85.805463,65.172326

In [1156]:
math_passing = (renamed_df['math_score'] >= 70)

math_passing.sum()

passing = math_passing.sum()

passing

passed_math = passing /(total_students)

passing_percent = passed_math*100

passing_percent

74.9808526933878

In [1157]:
read_passing = (renamed_df['reading_score'] >= 70)

read_passing.sum()

sum_passing = read_passing.sum()

sum_passing

passed_reading = sum_passing /(total_students)

passing_percent_reading = passed_reading*100

passing_percent_reading

85.80546336482001

In [1158]:
# TEST passed_both = renamed_df.loc[(renamed_df.math_score >= 70) & (renamed_df.reading_score >= 70), :]
#passed_both

In [1159]:
overall_passing_math = renamed_df.loc[renamed_df['math_score'] >=70, :]

all_passing = overall_passing_math.loc[overall_passing_math ['reading_score'] >=70,:]

overall_passing = (len(all_passing)/total_students)*100

In [1160]:
overall_passing

65.17232575950983

In [1161]:
renamed_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,school_type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [1162]:
renamed_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,school_type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [1163]:

#School Type - first()
#Total students - sum
#Total School Budget - sum
#Per student budget - total school budget / total students
#avg math
#avg reading
#passin math - threshold filter / count of all students
#%passing reading - "
#%overall passing

In [1251]:

sum(renamed_df.loc[renamed_df.school_name ==  'Huang High School', 'math_score'] >= 70)

1916

In [1264]:

#create new column for passed both
renamed_df.loc[:,'passed_both'] = ((renamed_df["math_score"] >= 70) & (renamed_df['reading_score'] >= 70))
#renamed_df['passed_both'] = renamed_df.loc[(renamed_df['math_score'] >= 70) & renamed_df.loc[(renamed_df['reading_score'] >= 70), :]

In [1271]:
#summary table per school
df = renamed_df.groupby('school_name').agg({
    'Student ID' : lambda x : x.nunique(),
    'budget' : 'first',
    'school_type' : 'first',
    'math_score' : 'mean',
    'reading_score' : 'mean',
    'passed_both' : 'sum'
    })

#'passed_both' : lambda x : x.nunique()




df.loc[:, 'Per Student Budget'] = df.loc[:, 'budget'] / df.loc[:, 'Student ID']
df.loc[:, '% Passing Math'] = (sum(df['math_score'] >= 70) / df.loc[:, 'Student ID'])
df.loc[:, '% Passing Reading'] = sum(df['reading_score'] >= 70) / df.loc[:, 'Student ID']
df.loc[:, 'Overall Passing %'] = (df['passed_both'] / df.loc[:, 'Student ID']) * 100
                                    #'#sum((df['reading_score'] >= 70) & (df['math_score'] >= 70))

summary_df = df.rename(columns = {'Student ID' : 'Total Students', 'budget' : 'Total Budget', 'math_score' : 'Avg Math Score', 'reading_score' : 'Avg Reading Score', 'passed_both' : 'Overall Passing %', 'school_type' : 'School Type'})

summary_df

,Total Students,Total Budget,School Type,Avg Math Score,Avg Reading Score,Overall Passing %,Per Student Budget,% Passing Math,% Passing Reading,Overall Passing %
school_name,,,,,,,,,,
Bailey High School,4976.0,3124928.0,District,77.048432,81.033963,2719.0,628.0,0.003014,0.003014,54.642283
Cabrera High School,1858.0,1081356.0,Charter,83.061895,83.975780,1697.0,582.0,0.008073,0.008073,91.334769
Figueroa High School,2949.0,1884411.0,District,76.711767,81.158020,1569.0,639.0,0.005086,0.005086,53.204476
Ford High School,2739.0,1763916.0,District,77.102592,80.746258,1487.0,644.0,0.005476,0.005476,54.289887
Griffin High School,1468.0,917500.0,Charter,83.351499,83.816757,1330.0,625.0,0.010218,0.010218,90.599455
Hernandez High School,4635.0,3022020.0,District,77.289752,80.934412,2481.0,652.0,0.003236,0.003236,53.527508
Holden High School,427.0,248087.0,Charter,83.803279,83.814988,381.0,581.0,0.035129,0.035129,89.227166
Huang High School,2917.0,1910635.0,District,76.629414,81.182722,1561.0,655.0,0.005142,0.005142,53.513884
Johnson High School,4761.0,3094650.0,District,77.072464,80.966394,2549.0,650.0,0.003151,0.003151,53.539172
Pena High School,962.0,585858.0,Charter,83.839917,84.044699,871.0,609.0,0.015593,0.015593,90.540541
Rodriguez High School,3999.0,2547363.0,District,76.842711,80.744686,2119.0,637.0,0.003751,0.003751,52.988247
Shelton High School,1761.0,1056600.0,Charter,83.359455,83.725724,1583.0,600.0,0.008518,0.008518,89.892107
Thomas High School,1635.0,1043130.0,Charter,83.418349,83.848930,1487.0,638.0,0.009174,0.009174,90.948012
Wilson High School,2283.0,1319574.0,Charter,83.274201,83.989488,2068.0,578.0,0.006570,0.006570,90.582567
Wright High School,1800.0,1049400.0,Charter,83.682222,83.955000,1626.0,583.0,0.008333,0.008333,90.333333