In [1517]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

renamed_df = school_data_df.rename(columns={'type':'school_type'})

renamed_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   school_type    39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [1518]:
renamed_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,school_type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [1519]:
#average total math score
renamed_df['math_score'] = pd.to_numeric(renamed_df['math_score'])

avg_math = renamed_df['math_score'].mean()

In [1520]:
#average reading score
renamed_df['reading_score'] = pd.to_numeric(school_data_df['reading_score'])
avg_reading = renamed_df['reading_score'].mean()

In [1521]:
#total budget
total_budget = renamed_df['budget'].sum()

In [1522]:
#total schools
total_schools = len(renamed_df["school_name"].unique())

total_schools

15

In [1523]:
#total students

total_students = len(renamed_df["student_name"])

total_students

39170

In [1524]:
renamed_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   school_type    39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [1525]:
#find # of students passing math
math_passing = (renamed_df['math_score'] >= 70)

math_passing.sum()

passing = math_passing.sum()

passing

#find % of total students passing math. 
passed_math = passing /(total_students)

passing_percent = passed_math*100

passing_percent

74.9808526933878

In [1526]:
#find sum of students passing reading
read_passing = (renamed_df['reading_score'] >= 70)

read_passing.sum()

sum_passing = read_passing.sum()

sum_passing
#% of students passing reading.
passed_reading = sum_passing /(total_students)

passing_percent_reading = passed_reading*100

passing_percent_reading

85.80546336482001

In [1527]:
#students that have passed both math & reading
passed_both = renamed_df.loc[(renamed_df.math_score >= 70) & (renamed_df.reading_score >= 70), :]

#% of students passing both
overall_passing = (len(all_passing)/total_students)*100

In [1528]:
overall_passing

65.17232575950983

In [1529]:
#create summary table 
total_summary_df = pd.DataFrame({'Total Students' : [total_students],
                            'Total Schools' : [total_schools],
                            'Total Budget' : [total_budget],
                            'Average Reading Score' : [avg_reading],
                            'Average Math Score' : [avg_math],
                            '% Passing Math' : [passing_percent],
                            '% Passing Reading' : [passing_percent_reading],
                            '% Overall Passing' : [overall_passing]})

total_summary_df

,Total Students,Total Schools,Total Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing
0,39170,15,82932329558,81.87784,78.985371,74.980853,85.805463,65.172326

In [1541]:
#start second task
#
renamed_df.head()

,Student ID,student_name,gender,grade,School Name,reading_score,math_score,School ID,school_type,size,budget,passed_both
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True

In [1531]:
# thing we need to do

#School Type - first()
#Total students - sum
#Total School Budget - sum
#Per student budget - total school budget / total students
#avg math
#avg reading
#passin math - threshold filter / count of all students
#%passing reading - "
#%overall passing

In [1532]:

#test sum(renamed_df.loc[renamed_df.school_name ==  'Huang High School', 'math_score'] >= 70)

In [1533]:

#create new column for passed both
renamed_df.loc[:,'passed_both'] = ((renamed_df["math_score"] >= 70) & (renamed_df['reading_score'] >= 70))

              
renamed_df = renamed_df.rename(columns = {'school_name' : 'School Name'})        

renamed_df

,Student ID,student_name,gender,grade,School Name,reading_score,math_score,School ID,school_type,size,budget,passed_both
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True
...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True

In [1534]:
# creating summary DF per school - use Aggregate for column values we can use.
df = renamed_df.groupby('School Name').agg({
    'Student ID' : lambda x : x.nunique(),
    'budget' : 'first',
    'school_type' : 'first',
    'math_score' : 'mean',
    'reading_score' : 'mean',
    'passed_both' : 'sum'
    })



# creat the Per student budget 
df.loc[:, 'Per Student Budget'] = df.loc[:, 'budget'] / df.loc[:, 'Student ID']

#create the % passing math 
df.loc[:, '% Passing Math'] = sum(renamed_df['math_score'] >= 70) / df.loc[:, 'Student ID'] 

#create the % passing reading
df.loc[:, '% Passing Reading'] = sum(renamed_df['reading_score'] >= 70) / df.loc[:, 'Student ID'] 

#create overall passing %
df.loc[:, 'Overall Passing %'] = (df['passed_both'] / df.loc[:, 'Student ID']) *100
                                    
#rename columns to be more clear for our purposes now
summary_df = df.rename(columns = {'Student ID' : 'Total Students', 'budget' : 'Total Budget', 'math_score' : 'Avg Math Score', 'reading_score' : 'Avg Reading Score', 'school_type' : 'School Type'})

#pull out columns we need for summary 
summary_by_school = summary_df[['School Type', 'Total Students', 'Per Student Budget', 'Avg Math Score', 'Avg Reading Score', '% Passing Math', '% Passing Reading', 'Overall Passing %']]

In [1535]:
summary_by_school

,School Type,Total Students,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Passing %
School Name,,,,,,,,
Bailey High School,District,4976,628.0,77.048432,81.033963,5.902331,6.754421,54.642283
Cabrera High School,Charter,1858,582.0,83.061895,83.975780,15.807320,18.089343,91.334769
Figueroa High School,District,2949,639.0,76.711767,81.158020,9.959308,11.397084,53.204476
Ford High School,District,2739,644.0,77.102592,80.746258,10.722892,12.270902,54.289887
Griffin High School,Charter,1468,625.0,83.351499,83.816757,20.006812,22.895095,90.599455
Hernandez High School,District,4635,652.0,77.289752,80.934412,6.336570,7.251348,53.527508
Holden High School,Charter,427,581.0,83.803279,83.814988,68.782201,78.711944,89.227166
Huang High School,District,2917,655.0,76.629414,81.182722,10.068564,11.522112,53.513884
Johnson High School,District,4761,650.0,77.072464,80.966394,6.168872,7.059441,53.539172
Pena High School,Charter,962,609.0,83.839917,84.044699,30.530146,34.937630,90.540541
Rodriguez High School,District,3999,637.0,76.842711,80.744686,7.344336,8.404601,52.988247
Shelton High School,Charter,1761,600.0,83.359455,83.725724,16.678024,19.085747,89.892107
Thomas High School,Charter,1635,638.0,83.418349,83.848930,17.963303,20.556575,90.948012
Wilson High School,Charter,2283,578.0,83.274201,83.989488,12.864652,14.721857,90.582567
Wright High School,Charter,1800,583.0,83.682222,83.955000,16.316667,18.672222,90.333333

In [1536]:
#top 5 schools based on overall passing
summary_by_school = summary_by_school.sort_values ('Overall Passing %', ascending = False)
summary_by_school.head(5)

,School Type,Total Students,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Passing %
School Name,,,,,,,,
Cabrera High School,Charter,1858,582.0,83.061895,83.975780,15.807320,18.089343,91.334769
Thomas High School,Charter,1635,638.0,83.418349,83.848930,17.963303,20.556575,90.948012
Griffin High School,Charter,1468,625.0,83.351499,83.816757,20.006812,22.895095,90.599455
Wilson High School,Charter,2283,578.0,83.274201,83.989488,12.864652,14.721857,90.582567
Pena High School,Charter,962,609.0,83.839917,84.044699,30.530146,34.937630,90.540541

In [1537]:
#bottom 5 schools based on overall passing
summary_by_school = summary_by_school.sort_values ('Overall Passing %')
summary_by_school.head(5)

,School Type,Total Students,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Passing %
School Name,,,,,,,,
Rodriguez High School,District,3999,637.0,76.842711,80.744686,7.344336,8.404601,52.988247
Figueroa High School,District,2949,639.0,76.711767,81.158020,9.959308,11.397084,53.204476
Huang High School,District,2917,655.0,76.629414,81.182722,10.068564,11.522112,53.513884
Hernandez High School,District,4635,652.0,77.289752,80.934412,6.336570,7.251348,53.527508
Johnson High School,District,4761,650.0,77.072464,80.966394,6.168872,7.059441,53.539172

In [1538]:
scores_by_type.head()

             Avg Math Score  Avg Reading Score  Overall Passing %
School Type
Charter           83.473852          83.896421          90.432244
District          76.956733          80.966636          53.672208

In [1539]:
# scores by type of school
scores_by_type = summary_by_school.groupby('School Type').agg({
    'Avg Math Score' : 'mean',
    'Avg Reading Score' : 'mean',
    'Overall Passing %' : 'mean'
    
})

In [1540]:
scores_by_type.head()

             Avg Math Score  Avg Reading Score  Overall Passing %
School Type
Charter           83.473852          83.896421          90.432244
District          76.956733          80.966636          53.672208