In [1020]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

renamed_df = school_data_df.rename(columns={'type':'school_type'})

renamed_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   school_type    39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [1021]:
renamed_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,school_type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [1022]:
#average total math score
renamed_df['math_score'] = pd.to_numeric(renamed_df['math_score'])

avg_math = renamed_df['math_score'].mean()

In [1023]:
#average reading score
renamed_df['reading_score'] = pd.to_numeric(school_data_df['reading_score'])
avg_reading = renamed_df['reading_score'].mean()

In [1024]:
#total budget
total_budget = renamed_df['budget'].sum()

In [1025]:
#total schools
total_schools = len(renamed_df["school_name"].unique())

total_schools

15

In [1026]:
#total students

total_students = len(renamed_df["student_name"])

total_students

39170

In [1027]:
renamed_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   school_type    39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [1028]:
total_summary_df = pd.DataFrame({'Total Students' : [total_students],
                            'Total Schools' : [total_schools],
                            'Total Budget' : [total_budget],
                            'Average Reading Score' : [avg_reading],
                            'Average Math Score' : [avg_math],
                            '% Passing Math' : [passing_percent],
                            '% Passing Reading' : [passing_percent_reading],
                            '% Overall Passing' : [overall_passing]})

total_summary_df

,Total Students,Total Schools,Total Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing
0,39170,15,82932329558,81.87784,78.985371,74.980853,85.805463,65.172326

In [1029]:
math_passing = (renamed_df['math_score'] >= 70)

math_passing.sum()

passing = math_passing.sum()

passing

passed_math = passing /(total_students)

passing_percent = passed_math*100

passing_percent

74.9808526933878

In [1030]:
read_passing = (renamed_df['reading_score'] >= 70)

read_passing.sum()

sum_passing = read_passing.sum()

sum_passing

passed_reading = sum_passing /(total_students)

passing_percent_reading = passed_reading*100

passing_percent_reading

85.80546336482001

In [1031]:
renamed_df.loc[math_score] = somefunction

NameError: name 'somefunction' is not defined

In [ ]:
ok = renamed_df.copy()

ok.reading_score = ok.math_score + 1

ok

In [ ]:
# TEST passed_both = renamed_df.loc[(renamed_df.math_score >= 70) & (renamed_df.reading_score >= 70), :]
#passed_both

In [ ]:
overall_passing_math = renamed_df.loc[renamed_df['math_score'] >=70, :]

all_passing = overall_passing_math.loc[overall_passing_math ['reading_score'] >=70,:]

overall_passing = (len(all_passing)/total_students)*100

In [ ]:
overall_passing

In [ ]:
renamed_df.head()

In [ ]:
renamed_df.head()

In [ ]:

#School Type - first()
#Total students - sum
#Total School Budget - sum
#Per student budget - total school budget / total students
#avg math
#avg reading
#passin math - threshold filter / count of all students
#%passing reading - "
#%overall passing

In [ ]:

sum(renamed_df.loc[renamed_df.school_name ==  'Huang High School', 'math_score'] >= 70)

In [ ]:
renamed_df.info()

renamed_df['passed_both'] = renamed_df.loc[(renamed_df['math_score'] >= 70) & renamed_df.loc[(renamed_df['reading_score'] >= 70), :]]

In [ ]:
#create new column for passed both
renamed_df['passed_both'] = renamed_df.loc[(renamed_df['math_score'] >= 70) & renamed_df.loc[(renamed_df['reading_score'] >= 70), :]]

df = renamed_df
df.head()


grouped_df = df.groupby('school_names')

grouped_df.info()

#summary table per school
#df = renamed_df.groupby('school_name').agg({
    #'Student ID' : lambda x : x.nunique(), #Total students
    #'budget' : 'first', #School budget
    #'math_score' : 'mean',
    #'reading_score' : 'mean',
    #'passed_both' : lambda x : x.nunique()
    #})


#df.columns = ['total_students', 'total_budget', 'avg_math_score', 'avg_read_score', 'passed_both']

#df.loc[:, 'Per Student Budget'] = df.loc[:, 'total_budget'] / df.loc[:, 'total_students']

#df.info()



#df.loc[:, '% Passing Math'],:] = sum(df['math_score'] >= 70) / df.loc[:, 'total_students']
#df.loc[:, '% Passing Reading'] = sum(df['reading_score'] >= 70) / df.loc[:, 'total_students']

In [ ]:
#create new column for passed both
renamed_df['passed_both'] = renamed_df.loc[(renamed_df['math_score'] >= 70) & (renamed_df['reading_score'] >= 70), :]
#renamed_df['total_students'] = 


#summary table per school
df = renamed_df.groupby('school_name').agg({
    'Student ID' : lambda x : x.nunique(), #Total students
    'budget' : 'first', #School budget
    'math_score' : 'mean',
    'reading_score' : 'mean',
    'passed_both' : lambda x : x.nunique()
    })


df.columns = ['total_students', 'total_budget', 'avg_math_score', 'avg_read_score', 'passed_both']

df.loc[:, 'Per Student Budget'] = df.loc[:, 'total_budget'] / df.loc[:, 'total_students']

df.info()



df.loc[:, '% Passing Math'],:] = sum(df['math_score'] >= 70) / df.loc[:, 'total_students']
#df.loc[:, '% Passing Reading'] = sum(df['reading_score'] >= 70) / df.loc[:, 'total_students']

df.head()