In [278]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [279]:
school_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [280]:
#average total math score
school_data_df['math_score'] = pd.to_numeric(school_data_df['math_score'])

avg_math = school_data_df['math_score'].mean()

In [281]:
#average reading score
school_data_df['reading_score'] = pd.to_numeric(school_data_df['reading_score'])
avg_reading = school_data_df['reading_score'].mean()

In [282]:
#total budget
total_budget = school_data_df['budget'].sum()

In [283]:
#total schools
total_schools = len(school_data_df["school_name"].unique())

total_schools

15

In [284]:
#total students

total_students = len(school_data_df["student_name"])

total_students

39170

In [285]:
school_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [320]:
summary_df = pd.DataFrame({'Total Students' : [total_students],
                            'Total Schools' : [total_schools],
                            'Total Budget' : [total_budget],
                            'Average Reading Score' : [avg_reading],
                            'Average Math Score' : [avg_math],
                            '% Passing Math' : [passing_percent],
                            '% Passing Reading' : [passing_percent_reading],
                            '% Overall Passing' : [overall_passing]})

summary_df

,Total Students,Total Schools,Total Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing
0,39170,15,82932329558,81.87784,78.985371,74.980853,85.805463,65.172326

In [287]:
math_passing = (school_data_df['math_score'] >= 70)

math_passing.sum()

passing = math_passing.sum()

passing

passed_math = passing /(total_students)

passing_percent = passed_math*100

passing_percent

74.9808526933878

In [288]:
read_passing = (school_data_df['reading_score'] >= 70)

read_passing.sum()

sum_passing = read_passing.sum()

sum_passing

passed_reading = sum_passing /(total_students)

passing_percent_reading = passed_reading*100

passing_percent_reading

85.80546336482001

In [318]:
overall_passing_math = school_data_df.loc[school_data_df['math_score'] >=70, :]

all_passing = overall_passing_math.loc[overall_passing_math ['reading_score'] >=70,:]

overall_passing = (len(all_passing)/total_students)*100

In [319]:
overall_passing

65.17232575950983